.main-container{
    width: 20rem;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.239);
    border-top-left-radius: 0.75rem/* 12px */;
    border-top-right-radius: 0.75rem/* 12px */;
}

.inner-container{
    width: 100%;
    background: white;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.75rem/* 12px */;
}

.cart-header{
    height: 2rem/* 32px */;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem/* 8px */;
}

.header-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.w-23{
    width: 23px;
}

.ml-1{
    margin-left: 0.25rem/* 4px */;
}

.header-inner2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-logo{
    padding: 1rem/* 16px */;
    margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
    border-radius: 9999px;
    width: 5rem/* 80px */;
    height: 5rem;
    border: 2px solid blue;
}

.bottom-line{
    height: 3rem/* 48px */;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom-right-radius: 0.55rem/* 8.8px */;
    border-bottom-left-radius: 0.55rem/* 8.8px */;
    background: #ff008e;
}

.bottom-line-text{
    color: white;
    letter-spacing: 0.1em;
}

.bottom-line-end{
    border-radius: 9999px;
    background: black;
    width: 2rem/* 32px */;
    height: 2rem/* 32px */;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-full{
    width: 100%;
}
.card-img{
    max-width: 100%;
}